	<head>
		<title>Erest :: {{ title }}</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="fr" />
		<meta name="description" content="Some blog" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/static/main.css" />
		<link rel="stylesheet" href="//yandex.st/highlightjs/7.3/styles/solarized_light.min.css">
		<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</head>